<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %> </li>

      <li><%= link_to "Contact", contact_path %> </li>

      <li><%= link_to "something", '#' %> </li>
      <li><%= link_to "About", 'http://www.vg.no' %> </li>

    </ul>

  </nav>

</footer>